region = "europe-west1"
region_zone = "europe-west1-d"
project_name = "your-project-number"
credentials_file_path = "~/.gcloud/terraform.json"
public_key_path = "~/.ssh/gc_id_rsa.pub"
private_key_path = "~/.ssh/gc_id_rsa"
aws_region = "eu-central-1"
aws_access_key = "your_aws_acess_key"
aws_secret_key = "your_aws__secret_key"
